/* GENERALL STYLINGS */
section h1 {
  letter-spacing: normal;
}

/* HERO */
#hero-staff img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* STAFF */
#staff {
  background-color: rgba(89, 120, 155, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.staff-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.person-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #382768;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.person-container img {
  border-radius: 50px;
}